<%= form_with(model: session, local: true) do |f| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
    <h3>Players:</h3>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
          <th>Placing</th>
          <th>Team</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id='players'>
        <%= f.fields_for :session_players do |session_player| %>
          <%= render 'session_player_fields', :f => session_player %>
        <% end %>
      </tbody>
    </table>
 
  <div>
    <%= link_to_add_association 'add player', f, :session_players, 
      data: { association_insertion_method: :append, association_insertion_node: '#players'} %>
  </div>
  <br/>
  <br/>

  <div>
    <%= f.label :game_id %>
    <%= f.hidden_field :game_id %>
    <input id="selectedGame" list="games" />
    <datalist id="games">
      <% Game.order(:name).each do |game| %>
        <option data-value="<%= game.id%>" value="<%= game.name %>"></option>
      <% end %>
    </datalist>
  </div>

  <div>
    <%= f.label :played %>
    <%= f.date_field :played, as: :date %>
  </div>

  <div>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  //Add a player by default
  $(document).ready(function() { $(".add_fields").click() } );
</script>