<%= form_with(model: session, local: true) do |f| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group col-12 col-md-3">
    <%= f.label :game_id %>
    <%= f.hidden_field :game_id %>
    <input id="selectedGame" list="games" value="<%= session&.game&.name %>" class="form-control" placeholder="Select Game" />
    <datalist id="games">
      <% Game.order(:name).each do |game| %>
        <option data-value="<%= game.id%>" value="<%= game.name %>" data-iscoop="<%=game.game_type == Game.game_types[:cooperative]%>"c></option>
      <% end %>
    </datalist>
  </div>
  
  <div class="form-group col-1">
    <%= f.label :played %>
    <%= f.date_field :played, as: :date %>
  </div>
  
  <div class="form-group col-12 col-md-4">
    <%= f.label :notes %>
    <%= f.text_field :notes, class: "form-control" %>
  </div>

  <div id="form_competitive" class="session-forms">
    <%= render 'session_form_competitive', :f => f, :session_players => @session.session_players %>
  </div>

  <div id="form_coop" class="session-forms">
    <%= render 'session_form_coop', :f => f, :session_players => @session.session_players %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
