<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
    Players:

    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
          <th>Placing</th>
          <th>Team</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>
        <%= form.fields_for :session_players do |session_player| %>        
          <tr>
            <td><%= session_player.text_field :player_id %></td>
            <td><%= session_player.text_field :score %></td>
            <td><%= session_player.text_field :placing %></td>
            <td><%= session_player.text_field :team %></td>
            <td>Delete Me</td>
          </tr>

        <% end %>
        
      </tbody>
    </table>
 

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
