<tr class='nested-fields'>
    <td><%= f.text_field :player_id %></td>
    <td><%= f.text_field :score %></td>
    <td><%= f.text_field :placing %></td>
    <td><%= f.text_field :team %></td>
    <td>
        <%= link_to_remove_association 'remove player', f %>
    </td>
</tr>