<p id="notice"><%= notice %></p>

<h1>Recent Sessions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Played</th>
      <th>Notes</th>
      <th>Game</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.played %></td>
        <td><%= truncate(session.notes, :length => 30) %></td>
        <td><%= session.game.name %></td>
        <td>
          <nav class="nav">
            <%= link_to 'Show', session, class: "nav-link py-0" %>
            <%= link_to 'Edit', edit_session_path(session), class: "nav-link py-0" %>
            <%= link_to 'Destroy', session, class: "nav-link py-0", method: :delete, data: { confirm: 'Are you sure?' } %>
          </nav>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
