<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= link_to @session.game.name, @session.game %>
</p>

<p>
  <strong>Played:</strong>
  <%= @session.played %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @session.notes %>
</p>

<h3>Players:</h3>
<table>
<thead>
    <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Placing</th>
        <th>Team</th>
    </tr>
</thead>
<tbody>
    <% @session.session_players.order(:placing).each do |player| %>
      <tr>
        <td><%= link_to player.player.name, player.player %></td>
        <td><%= player.score %></td>
        <td><%= player.placing %></td>
        <td><%= player.team %></td>
    <% end %>
</tbody>
</table>
 <br/>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
