<%= form_with url: search_search_path  do |f| %>
    <div class="form-group col-5">
        <%= f.label :player_id %>
        <%= f.hidden_field :player_id %>
        <input id="selectedPlayer" list="players" value="" class="form-control" placeholder="Select Player" />
        <datalist id="players">
            <% @players.order(:name).each do |player| %>
                <option data-value="<%= player.id%>" value="<%= player.name %>"></option>
            <% end %>
        </datalist>
    </div>
    <div class="form-group col-5">
        <%= f.label :game_id %>
        <%= f.hidden_field :game_id %>
        <input id="selectedGame" list="games" value="" class="form-control" placeholder="Select Game" />
        <datalist id="games">
            <% @games.order(:name).each do |game| %>
                <option data-value="<%= game.id%>" value="<%= game.name %>"></option>
            <% end %>
        </datalist>
    </div>
    <%= f.submit "Search" %>
 <% end %>