<%= form_with(model: session_player, local: true) do |form| %>
  

  <%
=begin%>
 <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :bgg_id %>
    <%= form.text_field :bgg_id %>
  </div>

  <div class="field">
    <%= form.label :game_type %>
    <%= form.select(:game_type, options_for_select(Game.game_types.map {|k,v| [k.humanize.capitalize, v]})) %>
  </div>

  <%= players_form.label :score %>
          <%= players_form.text_field :score %>

          <%= players_form.label :placing %>
          <%= players_form.text_field :placing %>

  <div class="actions">
    <%= form.submit %>
  </div> 
<%
=end%>
<% end %>
