<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group col-2">
    <%= form.label :bgg_id %>
    <%= form.number_field :bgg_id, class: "form-control" %>
  </div>

  <div class="form-group col-2">
    <%= form.label :game_type %>
    <%= form.select(:game_type, options_for_select(Game.game_types.map {|k,v| [k.humanize.capitalize, v]}), {}, { :class => 'form-control'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
