<h1 class="text-center">
  <%= @game.name %>
</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 font-weight-bold">
      Bgg Id:
    </div>
    <div class="col-md-6">
      <%= @game.bgg_id %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 font-weight-bold">
      Game Type:
    </div>
    <div class="col-md-6">
      <%= @game.game_type.capitalize %>
    </div>
  </div>

<% unless @game.best_player.nil? %>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption style="caption-side: top; font-weight: bold;">Best Player</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @game.best_player.player.name, @game.best_player.player %></td>
            <td><%= @game.best_player.win_percent.round(4) * 100 %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<% end %>

<% unless @game.worst_player.nil? %>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption style="caption-side: top; font-weight: bold;">Worst Player</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @game.worst_player.player.name, @game.worst_player.player %></td>
            <td><%= @game.worst_player.win_percent.round(4) * 100 %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
