<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Bgg Id:</strong>
  <%= @game.bgg_id %>
</p>

<p>
  <strong>Game Type:</strong>
  <%= @game.game_type.capitalize %>
</p>

<% unless @game.best_player.nil? %>
  <p>
    <strong>Best Player:</strong>
  </p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Win %</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @game.best_player.player.name, @game.best_player.player %></td>
        <td><%= @game.best_player.win_percent.round(4) * 100 %></td>
      </tr>
    </tbody>
  </table>

<% end %>

<% unless @game.worst_player.nil? %>
  <p>
    <strong>Worst Player:</strong>
  </p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Win %</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @game.worst_player.player.name, @game.worst_player.player %></td>
        <td><%= @game.worst_player.win_percent.round(4) * 100 %></td>
      </tr>
    </tbody>
  </table>
<% end %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
