<h1 class="text-center">
  <%= @game.name %>
</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 font-weight-bold">
      Bgg Id:
    </div>
    <div class="col-md-6">
      <%= @game.bgg_id %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 font-weight-bold">
      Game Type:
    </div>
    <div class="col-md-6">
      <%= @game.game_type.capitalize %>
    </div>
  </div>

  <% unless @game.best_players.nil? %>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-bordered">
          <caption class="caption-top-bold">Best Players</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Win %</th>
              <th>Play Count</th>
            </tr>
          </thead>
          <tbody>
            <% @game.best_players.each do |best_player| %>
              <tr>
                <td><%= link_to best_player.player.name, best_player.player %></td>
                <td><%= number_with_precision((best_player.win_percent * 100), precision: 2, strip_insignificant_zeros: true) %></td>
                <td><%= best_player.play_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  <% end %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
