<h1 class="text-center">
  <%= @player.name %>
</h1>


<div class="container">
  <div class="row">
    <div class="col-md font-weight-bold">
      Overall Win Rate
    </div>
    <div class="col-md">
      <%= (@player.win_rate * 100).round(2) %>%
    </div>
  </div>

<% unless @player.best_game.nil? %>

  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption class="caption-top-bold">Best Game</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @player.best_game.game.name, @player.best_game.game %></td>
            <td><%= (@player.best_game.win_percent * 100).round(2) %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

<% end %>

<% unless @player.worst_game.nil? %>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption class="caption-top-bold">Worst Game</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @player.worst_game.game.name, @player.worst_game.game %></td>
            <td><%= (@player.worst_game.win_percent * 100).round(2) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
