<h1 class="text-center">
  <%= @player.name %>
</h1>


<div class="container">
  <div class="row">
    <div class="col-md font-weight-bold">
      Overall Win Rate
    </div>
    <div class="col-md">
      <td><%= number_with_precision((@player.win_rate * 100), precision: 2, strip_insignificant_zeros: true) %></td>%
    </div>
  </div>

<% unless @player.best_games.nil? %>

  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption class="caption-top-bold">Best Games</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Win %</th>
            <th>Play Count</th>
          </tr>
        </thead>
        <tbody>
          <% @player.best_games.each do |best_game| %>
            <tr>
              <td><%= link_to best_game.game.name, best_game.game %></td>
              <td><%= number_with_precision((best_game.win_percent * 100), precision: 2, strip_insignificant_zeros: true) %></td>
              <td><%= best_game.play_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

<% end %>

<% unless @player.worst_games.nil? %>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption class="caption-top-bold">Worst Games</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <% @player.worst_games.each do |worst_game| %>
            <tr>
              <td><%= link_to worst_game.game.name, worst_game.game %></td>
              <td><%= number_with_precision((worst_game.win_percent * 100), precision: 2, strip_insignificant_zeros: true) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
