<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="topnav">
    <%= link_to "Games", games_path %> |
    <%= link_to "Players", players_path %> |
    <%= link_to "Sessions", sessions_path %> |
    <%= link_to "New Session", new_session_path %>
    <div class="topnav-right">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", user_session_path("current"), method: "delete" %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %> or
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
